.video-responsive {
  width: 100%;
  max-width: 640px;

  overflow: hidden;
  padding-bottom: 360px;
  position: relative;
  height: 0;
}

.video-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  max-height: 360px;
  width: 100%;
  max-width: 640px;
  position: absolute;
}